<table class="table table-hover table-bordered">
  <tr><td>salvation_id</td><td><%= item.salvation_id %></td></tr>
  <tr><td>salvation_factory_id</td><td><%= item.salvation_factory_id %></td></tr>
</table>