<div id="desktop_notify_setting_stats" class="alert alert-warning" style="display:none;">
  <strong>桌面提醒设置</strong>
  <ul>
    <li>您已经关闭桌面通知,不会收到系统提醒,强烈建议<a id="allow_notify" href="#">打开通知</a>.</li>
  </ul>
</div>