<% content_for :page_scripts do %>
<script type="text/javascript">

  var args = getUrlParams();
  var address = args["address"];
  //Init Map
  var map = new BMap.Map("allmap");
  map.enableDragging();
  map.enableScrollWheelZoom();
  // map.centerAndZoom("北京",5); 
  var gc = new BMap.Geocoder();

  var gpsPoint = new BMap.Point(args["x"],args["y"]);

  if (address!='') {
    gc.getPoint(address, function(point){
      if (point) {
        map.centerAndZoom(point, 16);
        map.addOverlay(new BMap.Marker(point));
      }
    });
  }
  
  if (args['x']!='' && args['y']!='') {
    map.centerAndZoom(gpsPoint, 15);
    translateCallback = function (point){
      var marker = new BMap.Marker(point);
      map.addOverlay(marker);
      gc.getLocation(point, function(rs){
        var addComp = rs.addressComponents;
        var gc_address = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
        var label = new BMap.Label(gc_address,{offset:new BMap.Size(20,-10)});
        marker.setLabel(label); //添加百度label
        
      });      
      map.setCenter(point);
    }

    setTimeout(function(){
        BMap.Convertor.translate(gpsPoint,0,translateCallback);     //真实经纬度转成百度坐标
    }, 2000);

  };
  
    
  
  

function getUrlParams(){
  var args = new Object();   
  var query = location.search.substring(1);
  var pairs = query.split("&");
  for(var i = 0; i < pairs.length; i++){
    var pos = pairs[i].indexOf('=');
    if(pos == -1) continue; 
    var argname = pairs[i].substring(0,pos);
    var value = pairs[i].substring(pos + 1);
    args[argname] = value;
  }
  return args;
}

</script>
<% end %>


<div id="allmap" style="width:100%;height:100%;">
</div>