<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <%= render 'form' %>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>