<tr>
  <td class="col-md-11">
    <input type="hidden" class="form-control model_id" name="user[user_handle_aa_vendor_ids][]" value="<%= aa_vendor.id unless aa_vendor.nil? %>" />
    <input type="text" class="form-control model_name" value="<%= aa_vendor.name unless aa_vendor.nil? %>" />
  </td>
  <td>
    <a class="btn default btn-xs black remove_row" href="#">删除</a>
  </td>
</tr>