<!-- BEGIN PAGE TITLE & BREADCRUMB-->
<h3 class="page-title">
  <%= title %>  <small><%= description %></small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <a href="#"><%= controller %></a>
    <i class="fa fa-angle-right"></i>
  </li>
  <li><a href="#"><%= action %></a></li>
</ul>
<!-- END PAGE TITLE & BREADCRUMB-->