<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KhAcwfcnZPdX0TR0UyF9mTrK"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js" ></script>
  <script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
  <title>地图信息</title>
</head>
<body>
<%=yield %>
<%= yield :page_scripts %>
</body>
</html>


